[package]
name = "faunus"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "faunus"
path = "src/bin/faunus.rs"

[lib]

[dependencies]
clap = { version = "4.0", features = ["derive"] }
log = "0.4"
pretty_env_logger = "0.4"
serde = { version = "1.0", features = ["derive", "rc"] }
anyhow = "1.0"
float-cmp = "0.9"
itertools = "0.10"
nalgebra = { version = "0.34.1", features = ["serde-serialize"] }
interatomic = { git = "https://github.com/mlund/interatomic.git", branch="hermite-spline", features=["serde"] }
rand = "0.8"
num = "0.4"
chemfiles = { version = "0.10.41", optional = true }
average = { version = "0.13", features = ["std", "serde1"] }
regex = "1.8.4"
physical_constants = "0.5.0"
coulomb = {git = "https://github.com/mlund/coulomb.git", version = "0.2", features = ["serde"] }
serde_yaml = "0.9"
validator = { version = "0.18.1", features = ["derive"] }
derive-getters = "0.3.0"
unordered-pair = { version = "0.2.4", features = ["serde"] }
serde_with = "3.8.1"
dyn-clone = "1.0.17"
ndarray = { version = "0.15.6", features = ["serde"] }
derive_builder = "0.20.0"
voronota = {git = "https://github.com/mlund/voronota-rs.git"}
indicatif = {version = "*"}
flate2 = "1.0.35"
derive_more = {version = "1.0.0", features = ["debug"]}

[dev-dependencies]
approx = "0.5"

[features]
default = ["chemfiles"]
chemfiles = ["dep:chemfiles"]
