[submodule "duello"]
	path = duello
	url = https://github.com/mlund/duello.git
[submodule "icotable"]
	path = icotable
	url = https://github.com/mlund/icotable.git
[submodule "coulomb"]
	path = coulomb
	url = https://github.com/mlund/coulomb.git
[submodule "interatomic"]
	path = interatomic
	url = https://github.com/mlund/interatomic.git
[submodule "cgkitten"]
	path = cgkitten
	url = https://github.com/mlund/cgkitten.git
[submodule "duello-web"]
	path = duello-web
	url = https://github.com/mlund/duello-web.git
